@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,800,800i&display=swap');
*{
  box-sizing: border-box;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

html {
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3em;
}

h2 {
  font-size: 2em;
  font-weight:500;
  line-height: 2.5em;
  text-transform: uppercase;
  margin:0;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.on_blue a{
  color: #BEBEBE;
}

.on_white a{
  color: #707070;
}

/*++++++++++++
++BACKGROUND++
+++++++++++++*/

.on_blue {
  color:#C8C8C8;
}

.on_white {
  color:#707070;
}

.home-left {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
  padding:2em;

}

.home-left-bg {
  position: fixed;
  top: 0;
  background-image: linear-gradient(to right, #000000, #00035A);
  height: 100vh;
  width: 50%;
  margin:0 -2em ;
  z-index: -1;
}

.home-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  float: right;
  
  width: 50%;
  min-height: 100vh;
  padding:2em;

}

.home-right-bg {

  position: fixed;
  top: 0;
  background-image: linear-gradient(to right,#BEBEBE,#FFFFFF  );
  height: 100vh;
  width: 50%;
  margin:0 -2em ;
  z-index: -1;
  
}

/*++++++++++++
+++++LOGO+++++
+++++++++++++*/

.logo {
  position: fixed;
}

.logo-home{
  text-decoration: none;
  color:#C8C8C8
}


.logo-home h1 {
  margin:0;
}

.logo-home h5 {
  margin:0;
  margin-top:-3em;
}

/*++++++++++++
+++++HOME+++++
+++++++++++++*/

/*+++PHOTO+++*/

.box-photo{
  overflow: hidden;
  display: block;
  margin: auto;
  height: 100vh;
  position: absolute;
  z-index: 1;
  bottom:0;
  

}

.home-photo {
  height: 100%;
  margin: 0 auto;
  position: relative;
  bottom: -5em;
  align-self: flex-end;
}

/*+++MENU++++*/

.home-menu{
  position: relative;
  z-index: 2;
  right: 0;
  padding:0;

}

.home-menu li{
  list-style: none;
  text-align: right;
}


.home-menu a{
  text-decoration: none;
  padding: 0;
}

.home-menu a .on_white:hover{
  color:#00035A;
}

.home-menu h2{
  display: inline-block;
  line-height: 1em; 
  margin-top:0;
}

.margin{
  margin-bottom:1.375em;
}

.margin_z{
  margin-bottom:0;
}

/*++++++++++++
+++PROJECTS+++
+++++++++++++*/

.menu{
  position: fixed;
  top:40px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #C8C8C8;
  margin: 6px 0;
  transition: 0.4s;
}

.title_page{
  margin:0;
}

.project-container {
  position: absolute;
  left:0;
  top:7.5em;
  list-style: none;
  padding-left: 0;
}


.project-item {
  height: 11.5em;
  margin-left: 2em;
  margin-bottom: 5em;
  max-width:35em ;
}



.project-description h2{
  display: inline-block;
  line-height: 1.25em;
  margin: 0;
  text-transform: capitalize;
}

.tag {
  margin-top: 0.5em;
  list-style: none;
  padding-left: 0;
  display: flex;
}

.tag a{
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.5em;
  padding:0.125em;
  background-color: #000000;
  color: #C8C8C8;
}

.project-photos {
  margin-right: 2em;
  left:auto;
  right: 0;
}

.project-photos img {
  height: 11.5em;
  width: auto;
}

.goback {
  position: fixed;
  top:8em;
}

.goback {
  margin: 0;
}

.goback a {
  text-decoration: none;
  color:#BEBEBE;
}
/*++++++++++++++
+single project+
+++++++++++++++*/

.single-main{
  margin-top: 3.5em;
  margin-bottom: auto;
  align-self: flex-end;
  width: 30em;
}

.single-main-right {
  align-self: flex-start;
  width: 100%;
}

.header {
  height: 20em;
}

.header img {
  width: 30em;
}



.main-new-features {
  height: 22.5em;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.main-new-features>* {
  margin:auto 0;
}
.main-new-features h2 {
  margin: 0;
}

.main-new-features ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main-new-features img {
  width: 40em;
  margin-left: -10em;
}

.section {
  height:25em ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.section img{
  height: 25em;
}

.section h2 {
  text-transform: capitalize;
  line-height: 1em;
  text-align: center;
}




/*++++++++++++
+++++1280+++++
+++++++++++++*/
@media(max-width: 1280px){

  html{
  font-size: 1em;
  }





}



