@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,800,800i&display=swap');
*{
  box-sizing: border-box;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

html {
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 800;
  line-height: 3em;
}

h2 {
  font-size: 2em;
  font-weight:500;
  line-height: 2em;
  
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;

}

h5 {
  font-size: 1em;
  font-weight: 500;
}

a {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #00035A;
}
.logo a:hover {
  color: #BEBEBE;
}



.text_center {
  text-align: center;
}

/*++++++++++++
++BACKGROUND++
+++++++++++++*/

.on_blue {
  color:#C8C8C8;
}

.on_white {
  color:#707070;
}

.home-left-bg {
  position: fixed;
  top: 0;
  left:0;
  background-image: linear-gradient(to right, #000000, #00035A);
  height: 100vh;
  width: 50%;
  margin:0;
  z-index: -1;
}

.home-right-bg {

  position: fixed;
  top: 0;
  right:0;
  background-image: linear-gradient(to right,#BEBEBE,#FFFFFF  );
  height: 100vh;
  width: 50%;
  margin:0;
  z-index: -1;
  
}

.home-left {
  position: absolute;
  width: 50%;
  height: 100vh;
  left:0;
  padding:2em;
  display: flex;
  align-items: center;
}

.home-right {
  position: absolute;
  width: 50%;
  height: 100vh;
  right:0;
  padding:2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 100vh;
  
}

.aside-left {
  position: fixed;
  left: 0;
  width: 5em;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2em;
  z-index: 1;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #C8C8C8;
  margin: 6px 0;
  transition: 0.4s;
}
/*++++++++++++
+++++LOGO+++++
+++++++++++++*/

.logo {
  position:relative;
  left:-1.5em;
  transform:rotate(-90deg);
}

.logo-home{
  text-decoration: none;
  color:#C8C8C8
}


.logo-home>* {
  margin:0;
}

.logo-home h5 {

  margin-top:-3em;
}

/*++++++++++++
+++++HOME+++++
+++++++++++++*/

/*+++PHOTO+++*/

.box-photo{
  position: absolute;
  width: 100%;
  margin:0;
  bottom: 0;

  display: flex;
  justify-content: center;
  overflow: hidden;
  

}

.home-photo {
  height: 100vh;
  position: relative;
  bottom: -5em;
}

.aside-left.home {
  display: none;
}

/*+++MENU++++*/

.home-menu{
  position: relative;
  z-index: 2;
  right: 0;
  padding:0;

}

.home-menu li{
  list-style: none;
  text-align: right;
}


.home-menu a{
  text-decoration: none;
  padding: 0;
}

.home-menu a .on_white:hover{
  color:#00035A;
}

.home-menu h2{
  display: inline-block;
  line-height: 1em; 
  margin-top:0;
}

.margin{
  margin-bottom:1.375em;
}

.margin_z{
  margin-bottom:0;
}


.goback a {
  color: #C8C8C8;
}


/*++++++++++++
+++PROJECTS+++
+++++++++++++*/
.project-list{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.project-list>li{
  margin: 5em 0;
}

.project-list>li:first-child{
  margin: 0;
}
.project-list-photo img{
  max-width:70%;
}

.project-list-photo {
  align-items: flex-end;
}

.tag {
  margin-top: 0.5em;
  list-style: none;
  padding-left: 0;
  display: flex;
}

.tag a{
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.5em;
  padding:0.125em;
  background-color: #000000;
  color: #C8C8C8;
}

/*++++++++++++++
+single project+
+++++++++++++++*/

.main {
  padding-top: 3em;
}
.project-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding:0;
  margin:5em 0;

}

.project-section>*{
  flex-basis: 50%;
}
.project-section h3 {
  text-transform: capitalize;
}


.project-section-left {
  padding-right: 2em;
  position: relative;
  flex-grow: 1;
  
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  color:#C8C8C8;
}

.main-photo {
  width: 100%;
}


.project-section-right {
  padding-left: 2em;
  position: relative;
 
  padding-right: 5%;

  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #707070;
}

.new-features {
  align-items: flex-start;
}

.new-features ul {
  list-style: none;
  padding-left: 0;
}

.new-features-img {
  width: 150%;
  margin-left:-50%
}

.img-iphone img{
  max-width: 15em;
  margin: auto;
  
}

.tool-section-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tool{
  width: 10em;
}

.tool img {
  width: 5em;
  margin-top: 2em;
}

.tool-section {
  justify-content: flex-start ;
 
}

.team-section {
  justify-content: flex-start;
  min-width: 50%;
}

.team-section-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.team {

  width: 10em;
}

.team img {
  width: 7em;
  margin-top: 2em;
  background-color: #FFFFFF;
  border-radius: 50%;
}

/*++++++++++++++
+about me+
+++++++++++++++*/

.photo-left {
  width: 50%;
  left: 0;
}

.about-left {
  position: absolute;
  width: 50%;
  right: 0;
  color:#707070;
  padding:2em;
  padding-right: 10em;

}

.about-left h2 {
  margin-bottom: 25%;
}

.about-left blockquote {
  font-weight: bold;
  margin: 3em 2em;
}

.about-left h3 {
  margin-top: 1em;
}






/*++++++++++++
++++contact++++
+++++++++++++*/

.contact-left {
  position: absolute;
  width: 50%;
  right: 0;
  color:#707070;
  padding:2em;
  padding-right: 10em;

}

.contact-social {
  list-style: none;
  padding-left: 0;
}


.contact-social li a {
  margin: 1em 0;
  display: flex;
  align-items: center;
  height: 2em;
}

.contact-social p {
  display: inline-block;
  margin: 1em;
}

.mail-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mail-form div {
  flex-basis: 45%;
  margin-bottom:1em;
}

.mail-form input {
  width: 100%;
  height: 2em;
}

.mail-form div:nth-child(3), .mail-form div:nth-child(4){
  flex-basis: 100%;
}

.mail-form textarea {
  width: 100%;
  resize: none;
}

.mail-form input {
  flex-basis: 25%;
  height: 2em;
}

.mail-form div p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.mail-form input[type=submit] {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color:#707070;
}





/*++++++++++++
+++++1280+++++
+++++++++++++*/
@media(max-width: 1280px){

  html{
  font-size: 1em;
  }

}
@media(max-width: 500px){

  html{
    font-size: 1.5em;
    }


  *{
    color:#707070 ;
    text-align: center;
  }

  h2 {
    line-height: 1em;
  }

 

  .home-photo {
    width: 130%;
    height: auto;
    top:2em;
    left:-65%;
    z-index: 1;
    position: fixed;
  }



  .home-menu {
    display: none;
  }

  .aside-left.home {
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: flex-start;
    padding:1em;
  }

  .logo {
    left: 0;
  }

  .logo-home.home {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;

  
  }

  .logo-home.home h1 {
    position: fixed;
    right: 0;
    top:2em;
    right: 1rem;
    
  }

  .logo-home.home h5 {
    position:fixed;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    margin:0;
    font-size: 1.5em;
  }
  

  .home-right-bg {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom,#BEBEBE,#FFFFFF  );
    left: 0;
  }

  .home-left-bg {
    display: none;
  }

  .aside-left {
    height: 3.5em;
    width: 100%;
    padding:1em;
    margin:0;
    flex-direction: row-reverse;
    background-image: linear-gradient(to top, #000000, #00035A);
    

  }

 
  .home-left {
    width: 100%;
    padding:1em;
    display: flex;
  }
 
  .logo-home h1{

    color:#c8c8c8;
  }
  .goback {
    display: none;
  }

  .logo {
    transform: none;
    font-size: 0.7em;
  }

  .logo h5 {
    display: none;
  }

  .project-section>* {
    width: 100vw;
    padding: 0 1em;
  }

  .project-list-photo img{
    max-width: 100%;
    margin: 1em auto;
  }

  .tag {
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .tag>* {
    margin-top: 1em;
  }

  .new-features >*{
    margin: auto;

  }

  .new-features-img{
    width: 100%;
    margin:0;
  }


  .img-iphone{
    order: 1;
  }

  .img-iphone img {
    width: 100%;
  }

  .photo-left {
    display: none;

  }



  .contact-left {
    padding:1em;
    margin-top:4em;
    left: 0;
    width: 100%;
  }
  .about-left {
    padding:1em;
    margin-top:4em;
    left: 0;
    width: 100%;
  }

  .contact-social {
    margin-bottom: 3em ;
  }
  .contact-social li {
    width: 80%;
    margin: auto;
  }
  
  .contact-social p {
    
    text-align: left;
  
  }

  .mail-form div p {
    
    margin: 0.5em;
    
  }

  .mail-form>div {
    flex-basis: 100%;
  }

  .mail-form *:last-child {
    margin: auto;
  }

  
}



