@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,800,800i&display=swap');
*{
  box-sizing: border-box;
}
html{
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 2.5em;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3em;
}
h2{
  font-size: 2em;
  font-weight:500;
  line-height: 2.5em;
  text-transform: uppercase;
}
h3{
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}
h5{
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}
.box-photo{
  height: 100vh;
  overflow: hidden;
  display: flex;

  position: absolute;

  bottom:-10px;
  width: 100%;
}

.home-photo {
  height: 100%;
  margin: 0 auto;
  margin-bottom: -10em;

  align-self: flex-end;

}

.on_blue{
  color:#C8C8C8;
}
.on_white{
  color:#707070;
}

.home-left{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;


  width: 50%;
  min-height: 100vh;
  padding-left:5%;

  background-image: linear-gradient(to right, #000000, #00035A);
}
.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  float: right;

  width: 50%;
  min-height: 100vh;
  padding-right:5%;

  background-image: linear-gradient(to right,#BEBEBE,#FFFFFF  );
}

.logo {
margin-top:-1em;
}

.logo h1{
  margin:0;
}
.logo h5{
  margin:0;
  margin-top:-3em;
}

.home-menu{
  position: relative;
  z-index: 1;
  right: 0;
  padding:0;

}

.home-menu li{
  list-style: none;
  text-align: right;
}


.home-menu a{
  text-decoration: none;
  padding: 0;
}

a .on_white:hover{
  color:#00035A;
}

.home-menu h2{
  display: inline-block;
  line-height: 1em; 
  margin-top:0;
}

.margin{
  margin-bottom:1.375em;
}

.margin_z{
  margin-bottom:0;
}






